<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.TcHospitalGzhMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.TcHospitalGzh" >
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="hospital_code" property="hospitalCode" jdbcType="VARCHAR" />
		<result column="appId" property="appid" jdbcType="VARCHAR" />
		<result column="appSecret" property="appsecret" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List" >
		ID, hospital_code, appId, appSecret
	</sql>

	<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jfsoft.model.TcHospitalGzhExample" >
		select
		<if test="distinct" >
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tc_hospital_gzh
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select 
		<include refid="Base_Column_List" />
		from tc_hospital_gzh
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from tc_hospital_gzh
		where ID = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteByExample" parameterType="com.jfsoft.model.TcHospitalGzhExample" >
		delete from tc_hospital_gzh
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.TcHospitalGzh" >
		insert into tc_hospital_gzh (ID, hospital_code, appId, 
			appSecret)
		values (#{id,jdbcType=INTEGER}, #{hospitalCode,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, 
			#{appsecret,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.TcHospitalGzh" >
		insert into tc_hospital_gzh
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="hospitalCode != null" >
				hospital_code,
			</if>
			<if test="appid != null" >
				appId,
			</if>
			<if test="appsecret != null" >
				appSecret,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=INTEGER},
			</if>
			<if test="hospitalCode != null" >
				#{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="appid != null" >
				#{appid,jdbcType=VARCHAR},
			</if>
			<if test="appsecret != null" >
				#{appsecret,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="countByExample" parameterType="com.jfsoft.model.TcHospitalGzhExample" resultType="java.lang.Integer" >
		select count(*) from tc_hospital_gzh
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<update id="updateByExampleSelective" parameterType="map" >
		update tc_hospital_gzh
		<set >
			<if test="record.id != null" >
				ID = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.hospitalCode != null" >
				hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="record.appid != null" >
				appId = #{record.appid,jdbcType=VARCHAR},
			</if>
			<if test="record.appsecret != null" >
				appSecret = #{record.appsecret,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map" >
		update tc_hospital_gzh
		set ID = #{record.id,jdbcType=INTEGER},
			hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
			appId = #{record.appid,jdbcType=VARCHAR},
			appSecret = #{record.appsecret,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.TcHospitalGzh" >
		update tc_hospital_gzh
		<set >
			<if test="hospitalCode != null" >
				hospital_code = #{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="appid != null" >
				appId = #{appid,jdbcType=VARCHAR},
			</if>
			<if test="appsecret != null" >
				appSecret = #{appsecret,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.TcHospitalGzh" >
		update tc_hospital_gzh
		set hospital_code = #{hospitalCode,jdbcType=VARCHAR},
			appId = #{appid,jdbcType=VARCHAR},
			appSecret = #{appsecret,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>

</mapper>